include ./base.jade
  .container
    h1= title
    form(action="/new/", method="post")
      p
        label(for="title") Otsikko*:
      p
        input(type="text", name="title", id="title", style="width: 600px;", value=textTitle)
      p
        label(for="text") Teksti*:
      p
        textarea(name="text", id="text", style="height: 200px; width: 600px;")= textText
      p
        label(for="category") Kategoria*:
      p
        select(name="category", id="category")
          each category in categories
            if(textCategory == category)
              option(value=category, selected)= category
            else
              option(value=category)= category
      p
        if(textPrivate)
          input(type="checkbox", name="private", id="private", value="private", checked)
        else
          input(type="checkbox", name="private", id="private", value="private")
        label(for="private") Ykstyinen artikkeli
      p * = Pakollinen tieto
      p
        button.btn.btn-primary(type="submit") Lisää
      p
        a.btn.btn-info(href="/ownDocuments/") Palaa teksteihin
