include ./base.jade
    .container
      h1= title
      p
        strong= addMessage
        strong= modifyMessage
        strong= deleteMessage

      if(!documents.length)
        p
          .line Sinulla ei viel채 ole omia artikkeleja
          a.btn.btn-info(href="/new/") Lis채채 artikkeli
      else
        each document in documents
          h2= document.title
          span
            p(style='white-space:pre;')= document.text
            p
              .line Lis채tty: #{document.insertDate}
              .line Muokattu: #{document.modifiedDate}
            form(method="get")
              input(type="hidden", name="id", value=document._id)
              button.btn.btn-primary(type="submit", formaction="/modify/") Muokkaa artikkelia
              button.btn.btn-warning(type="submit", formaction="/delete/") Poista artikkeli
