include ./base.jade
  .container
    h1= title
    p
      each message in messages
        strong= message

    if(!documents.length)
      p
        .line Sinulla ei vielä ole omia artikkeleja
      p
        a.btn.btn-info(href="/new/") Lisää artikkeli
    else
      p
        a.btn.btn-info(href="/new/") Lisää uusi artikkeli
      hr

      each document in documents
        h2= document.category + ": " + document.title
        p
          p(style='white-space:pre;')= document.text
          p
            .line
              i Lisätty: #{document.insertDate}
            if(document.insertDate.toString() != document.modifiedDate.toString())
              .line
                i Muokattu: #{document.modifiedDate}

          a.btn.btn-primary(href="../modify/"+document._id) Muokkaa artikkelia
          span= " "
          a.btn.btn-warning(href="../delete/"+document._id) Poista artikkeli
        hr
