include ./base.jade
    .container
      h1= title
      p
        strong= addMessage
        strong= modifyMessage
        strong= deleteMessage

      each document in documents
        h2= document.title
        span
          p(style='white-space:pre;')= document.text
          p
            .line Lisätty: #{document.insertDate}
            .line Muokattu: #{document.modifiedDate}
          form(method="get")
            input(type="hidden", name="id", value=document._id)
            button(type="submit", formaction="/modify/") Muokkaa artikkelia
            button(type="submit", formaction="/delete/") Poista artikkeli
