include ./base.jade
  .container
    h1= title
    hr

    if(!documents.length)
      p Ei julkisia artikkeleja
    else
      each document in documents
        h2= document.category + ": " + document.title
        p
          p
            p(style='white-space:pre;')= document.text
            p
              .line
                i Lisätty: #{document.insertDate}
              if(document.insertDate.toString() != document.modifiedDate.toString())
                .line
                 i Muokattu: #{document.modifiedDate}
        hr
